girls-in-science/biodragon.mov
girls-in-science/biodragon-1.mov
girls-in-science/test-files/_resources/out.fastq
girls-in-science/test-files/_resources/power-cat.fastq
girls-in-science/test-files/_resources/G04868_R2.fastq
girls-in-science/test-files/_resources/G04868_R1.fastq
girls-in-science/test-files/biodragon.ps1
