Screenshot[[:space:]]from[[:space:]]2017-11-11[[:space:]]01-15-48.png filter=lfs diff=lfs merge=lfs -text
genesis1.png filter=lfs diff=lfs merge=lfs -text
genesis2.png filter=lfs diff=lfs merge=lfs -text
genesis4.png filter=lfs diff=lfs merge=lfs -text
genesis5.png filter=lfs diff=lfs merge=lfs -text
genesis6.png filter=lfs diff=lfs merge=lfs -text
